/data/*
/fig/*
/facilities_program/*
/.ipynb_checkpoints/*
/iframe_figures/*
/customized/__pycache__/*
/customized/.ipynb_checkpoints/*
customized/model/__pycache__/*
customized/model/.ipynb_checkpoints/*
striatum/__pycache__/*
striatum/.ipynb_checkpoints/*
neural_exploration/__pycache__/*
neural_exploration/.ipynb_checkpoints/*
