/data/*
/fig/*
/facilities_program/*
/.ipynb_checkpoints/*
/iframe_figures/
/customized/.ipynb_checkpoints/
/customized/__pycache__/
customized/model/__pycache__/
customized/model/.ipynb_checkpoints/autoencoder-checkpoint.py customized/model/.ipynb_checkpoints/bayesianNN-checkpoint.py customized/model/.ipynb_checkpoints/neural_network-checkpoint.py customized/model/.ipynb_checkpoints/rnns-checkpoint.py customized/model/.ipynb_checkpoints/temporal_context_models-checkpoint.py customized/model/.ipynb_checkpoints/vae-checkpoint.py
